### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
#View data from csv
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
#Group by screen name to get count
screen_name = purchase_data.groupby("SN")["SN"].nunique()
screen_name = screen_name.count()
screen_name_df = pd.DataFrame({"Total Players":[screen_name]})
screen_name_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Obtain the number of unique items
Unique_Items = purchase_data.groupby("Item ID")["Item ID"].nunique()
Unique_Items = Unique_Items.count()
Unique_Items

183

In [11]:
# Obtain the average price
Average_Price = purchase_data["Price"].mean()
Average_Price = round(Average_Price,2)
Average_Price

3.05

In [12]:
#obtain the Number of purchases
NumPurchases = purchase_data.groupby("Purchase ID")["Purchase ID"].nunique()
NumPurchases = NumPurchases.count()
NumPurchases

780

In [13]:
#obtain the total revenue
TotalRevenue = purchase_data["Price"].sum()
TotalRevenue = round(TotalRevenue,2)
TotalRevenue

2379.77

In [14]:
#A summary data frame to hold the results
#Clean formatting done with round functions above
#Display the summary data frame
Purchase_Analysis_df = pd.DataFrame({"Number of Unique Items":[Unique_Items],"Average Price":[Average_Price],
                                     "Number of Purchases":[NumPurchases],"Total Revenue":[TotalRevenue]})
Purchase_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
#Count of Gender (male, female, and Other / Non-Disclosed)
GenderCount = purchase_data.groupby("Gender")["SN"].nunique()
GenderCount.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [16]:
#Count of Total to get percents
Count_Total = GenderCount.sum()
Count_Total

#Percentage of Gender (male, female, and Other / Non-Disclosed)
Percentage_Players = round((GenderCount / Count_Total) * 100,2)
Percentage_Players

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [17]:
#A gender summary data frame
Gender_Purchase_df = pd.DataFrame({"Total Count":GenderCount,"Percentage of Players":Percentage_Players})
Gender_Purchase_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Obtain the purchase count
Purchase_Count = purchase_data.groupby("Gender")["Item Name"].count()
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [19]:
#Obtain the Average Purchase Price
Purchase_Avg_Price = purchase_data.groupby("Gender")["Price"].mean()
Purchase_Avg_Price = round(Purchase_Avg_Price,2)
Purchase_Avg_Price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [20]:
#Obtain the Total Purchase Value
Purchase_Total_Price = purchase_data.groupby("Gender")["Price"].sum()
Purchase_Total_Price = round(Purchase_Total_Price,2)
Purchase_Total_Price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
#Obtain the Avg Total Purchase per Person & Optional: give the displayed data cleaner formatting
Average_Total_Purchase_PerPerson = round(Purchase_Total_Price / GenderCount,2)
Average_Total_Purchase_PerPerson

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [24]:
#Create a summary data frame to hold the results
Purchasing_Analysis_Gender = pd.DataFrame({"Purchase Count": Purchase_Count,
                                 "Average Purchase Price": Purchase_Avg_Price,
                                 "Total Purchase Value":Purchase_Total_Price,
                                 "Avg Total Purchase per Person": Average_Total_Purchase_PerPerson})
#Display the summary data frame
Purchasing_Analysis_Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
# Establish bins for ages
Bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99, 45.99]

# Categorize the existing players using the age bins
Age_Groups = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], Bins, labels=Age_Groups, include_lowest=True)
purchase_data.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,>=40
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05,20-24
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14,20-24
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,20-24
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,20-24
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,20-24
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,20-24
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66,20-24
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97,20-24
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74,20-24
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34

In [52]:
#Calculate the numbers by age group
AgeGroup_Count = purchase_data.groupby("Age Group")
AgeGroup_Unique_Count = AgeGroup_Count["SN"].nunique()
AgeGroup_Unique_Count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>=40      12
Name: SN, dtype: int64

In [65]:
#Calculate the percentages by age group & Optional: round the percentage column to two decimal points
AgeGroup_Percent = round(AgeGroup_Unique_Count / screen_name * 100,2)
AgeGroup_Percent

Age Group
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
>=40      2.08
Name: SN, dtype: float64

In [68]:
#Create a summary data frame to hold the results
Age_Demographics = pd.DataFrame({"Total Count": AgeGroup_Unique_Count,
                                 "Percentage of Players": AgeGroup_Percent})
#Display Age Demographics Table
Age_Demographics

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
>=40                12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
#Bin the purchase_data data frame by age
Bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99, 45.99]

# Categorize the existing players using the age bins
Age_Groups = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], Bins, labels=Age_Groups, include_lowest=True)
purchase_data.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,>=40
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05,20-24
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14,20-24
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56,20-24
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,20-24
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,20-24
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,20-24
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66,20-24
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97,20-24
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74,20-24
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34

In [72]:
# Run basic calculations to obtain purchase count
Purchase_Count_Age = AgeGroup_Count["Purchase ID"].count()
Purchase_Count_Age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>=40      13
Name: Purchase ID, dtype: int64

In [76]:
# Run basic calculations to obtain avg. purchase price & Optional: give the displayed data cleaner formatting
Purchase_Average_Age = round(AgeGroup_Count["Price"].mean(),2)
Purchase_Average_Age

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>=40     2.94
Name: Price, dtype: float64

In [77]:
#Run basic calculations to obtain Total Purchase Value & Optional: give the displayed data cleaner formatting
Purchase_Sum_Age = round(AgeGroup_Count["Price"].sum(),2)
Purchase_Sum_Age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>=40       38.24
Name: Price, dtype: float64

In [81]:
#Run basic calculations to obtain avg. total purchase total per person & Optional: give the displayed data cleaner formatting
Purchase_Avg_Price_PerPerson = round(Purchase_Sum_Age/AgeGroup_Unique_Count,2)
Purchase_Avg_Price_PerPerson

Age Group
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
>=40     3.19
dtype: float64

In [82]:
#Create a summary data frame to hold the results
Age_Purchasing_Analysis = pd.DataFrame({"Purchase Count": Purchase_Count_Age,
                                 "Average Purchase Price": Purchase_Average_Age,
                                 "Total Purchase Value": Purchase_Sum_Age,
                                 "Avg Total Purchase per Person": Purchase_Avg_Price_PerPerson})
#Display Purchasing Analysis (Age) Table
Age_Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
>=40,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [92]:
#Run basic calculations to obtain the Purchase Count
Spender_Purchase_Count = purchase_data.groupby("SN")["Purchase ID"].count()
Spender_Purchase_Count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [93]:
#Run basic calculations to obtain the Average Purchase Price
Spender_Purchase_Average = round(purchase_data.groupby("SN")["Price"].mean(),2)
Spender_Purchase_Average

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [94]:
#Run basic calculations to obtain the Total Purchase Value
Spender_Purchase_Total = round(purchase_data.groupby("SN")["Price"].sum(),2)
Spender_Purchase_Total

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [95]:
#Create a summary data frame to hold the results
Top_Spenders = pd.DataFrame({"Purchase Count": Spender_Purchase_Count,
                             "Average Purchase Price": Spender_Purchase_Average,
                             "Total Purchase Value": Spender_Purchase_Total})
#Display Purchasing Analysis (Age) Table
Top_Spenders

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                    2.28                  2.28
Adastirin33                 1                    4.48                  4.48
Aeda94                      1                    4.91                  4.91
Aela59                      1                    4.32                  4.32
Aelaria33                   1                    1.79                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                    2.07                  6.22
Yathedeu43                  2                    3.01                  6.02
Yoishirrala98               1                    4.58                  4.58
Zhisrisu83                  2                    3.94                  7.89
Zontibe81                   3                    2.68                  8.03

[576 rows x 3 columns]

In [96]:
#Sort the total purchase value column in descending order
Spender_Sort = Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [97]:
#Display a preview of the summary data frame
Spender_Sort.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
#Retrieve the Item ID, Item Name, and Item Price columns
Popular_Items_df = purchase_data[["Item ID", "Item Name", "Price"]]
Popular_Items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [145]:
#Group by Item ID and Item Name.
Group_Items = Popular_Items_df.groupby(["Item ID","Item Name"])
#Group_Items.head()

In [146]:
#Perform calculations to obtain purchase count
Purchase_Count_Items = Group_Items["Price"].count()
Purchase_Count_Items

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [147]:
#Perform calculations to obtain total purchase value
Purchase_Count_Sum = Group_Items["Price"].sum()
Purchase_Count_Sum

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [165]:
#Perform calculations to obtain item price
Purchase_Count_Value = Purchase_Count_Sum / Purchase_Count_Items
Purchase_Count_Value

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [166]:
#Create a summary data frame to hold the results
Most_Popular_Items_df = pd.DataFrame({"Purchase Count": Purchase_Count_Items, 
                                   "Item Price": Purchase_Count_Value,
                                   "Total Purchase Value": Purchase_Count_Sum})
Most_Popular_Items_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [167]:
#Sort the purchase count column in descending order
Popular_Items_Sort = Most_Popular_Items_df.sort_values(["Purchase Count"], ascending=False).head()

In [168]:
#Display a preview of the summary data frame
Popular_Items_Sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [169]:
#Sort the above table by total purchase value in descending order
Profitable_Items_Sort_df = Most_Popular_Items_df.sort_values(["Total Purchase Value"], ascending=False).head()

In [170]:
#Display a preview of the data frame
Profitable_Items_Sort_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
#Finished